body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor-flexible {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 600px;
    background-color: darkblue;
    margin: 10px;
}
.caja {
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /
}
.caja-fijo{
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    
}
.caja-interna {
    width: calc(33.33% - 10px);
    height: 100px;
    margin: 5px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-interna.modificadaancho {
    width: 80%;
    height: 60px;
    margin: 5px auto;
}
.caja-interna.modificadalargo { 
    width: 34%;
    height: 30%;
    margin: 5px auto;

}